@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
}
nav{
	background-color: #E8C66A;
	text-align: right;
}
h2{
	font-size: 2.5em;
}
h3{
	font-size: 2em;
}
h4{
	font-size: 1.5em;
}
hr{
	border: none;
	height: 3px;
	width: 2em;
}
p{
	font-size: 1.25em;
	line-height: 2.5em;
	font-weight: bold;
}
img{
	float: right;
}
a{
	font-family: sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}
footer{
	text-transform: uppercase
	background-color: red;
}

#promotion{
	color: #FFF;
	font-variant: small-caps; 
	padding: 20px 70px;
	margin-left: 2em;
	margin-right: 35em;
}
#promise{
	background-color: #FFC675;
}
#selection{
	background-color: #E89C6C;
}
#method{
	background-color: #FF957E;
}

#reviews{
	background-color: #FFE2B8;
}

.logo{
	float: left;
	width: 350px;
}

.heroimage{
	background-image: url(../images/coverimage.jpg);
	background-size: cover;
	position: relative;
	height: 30em;
	opacity: 0.9;
}

.herotext{
	color: white;
}

.headtitle{
	padding: 30px 50px 10px 50px;
}
.books img{
	width:100%;
}

.navlinks{
	text-align: center;
	font-weight: 900;
	letter-spacing: 1px;
	width: 3em;
	padding-right: 1em;
	padding-left: 1em;
}
.pointers{
	font-family: 'Lora', serif;
	width: 30em;
	background-color: yellow;
	float: left;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.grid-item{
  float: left;
  width: 25%; /*four boxes*/
  padding: 3em;
  height: 500px;
  text-align: center;
}
.books{
	font-family: 'Lora', serif;
	width: 20em;
}
.devices{
	background-position: right bottom;
}
.reviews{
	font-family: 'Lora', serif;
	width: 30em;
}
.button{
	background-color: orange;
	color: #FFF;
	font-family: sans-serif; 
	border-radius: 10px;
	padding: 15px 40px;
	font-size: 1.5em;
  	transition-duration: 0.4s;
  	margin-left: 9em;
  	margin-top: 2em;
}
.button:hover{
	background-color: #f8c471;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}