@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

body{
	font-family: Lora, Merriweather, sans-serif;
}
header{
	background-image: url(../images/headbanner.jpg);
	font-family: sans-serif;
}
nav{
	margin: 
}
footer{
	font-family: 'Lora', serif;
}
h2{
	font-size: 3.5em;
	font-family: sans-serif;
}
h3{
	font-size: 2.5em;
	font-family: sans-serif;
}
h4{
	font-size: 1.5em;
	font-family: sans-serif;
}
hr{
	border: none;
	height: 3px;
	background-color: #FFFFFF;
	width: 2em;
	margin: 1 em auto;
}
p{
	font-family: 'Merriweather', serif;
	font-size: 1em;
	line-height: 1.25em;
}
a{
	font-family: serif;
	text-decoration: none;
	text-transform: uppercase;
}
.booksimg{
	width:100%;
}
.logo{
	color: #000;
	font-size: 5em;
	font-family: sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.navlinks{
	font-family: 'Lora', serif;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
}
.pointers{
	font-family: 'Lora', serif;
	width: 30em;
}
.grid-container{
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.grid-item{
  float: left;
  font-size: 30px;
  text-align: center;
}
.books{
	font-family: 'Lora', serif;
	width: 20em;
	margin: 3em auto;
}
.reviews{
	font-family: 'Lora', serif;
	width: 30em;
}
#offer{
	font-family: 'Lora', serif;
}
#position{
	font-family: 'Lora', serif;
}
.button{
	background-color:  #f39c12; /*orange*/
	border-radius: 8px;
	padding: 14px 40px;
	font-size: 3em;
  	transition-duration: 0.4s;
}
.button:hover{
	background-color: #f8c471;
}