@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

body{
	font-family: Lora, Merriweather, sans-serif;
}
header{
	background-image: url(../images/headbanner.jpg);
	font-family: sans-serif;
}
nav{
	margin: 
}
footer{
	font-family: 'Lora', serif;
	text-transform: uppercase
}
h2{
	font-size: 2.5em;
	font-family: 'Lora', sans-serif;
}
h3{
	font-size: 2em;
	font-family: 'Lora', sans-serif;
}
h4{
	font-size: 1.5em;
	font-family: 'Lora', sans-serif;
}
hr{
	border: none;
	height: 3px;
	width: 2em;
}
p{
	font-family: 'Merriweather', serif;
	font-size: 1em;
	line-height: 1.25em;
}
img{
	float: right;
}
a{
	font-family: serif;
	text-decoration: none;
	text-transform: uppercase;
}
.books img{
	width:100%;
}
.logo{
	color: #000;
	font-size: 5em;
	font-family: sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.navlinks{
	font-family: 'Lora', serif;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
}
.pointers{
	font-family: 'Lora', serif;
	width: 30em;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.grid-item{
  float: left;
  width: 25%; /*four boxes*/
  padding: 3em;
  height: 500px;
  text-align: center;
}
.books{
	font-family: 'Lora', serif;
	width: 20em;
}
.reviews{
	font-family: 'Lora', serif;
	width: 30em;
}
.button{
	background-color:  #f39c12; /*orange*/
	border-radius: 8px;
	padding: 14px 40px;
	font-size: 3em;
  	transition-duration: 0.4s;
}
.button:hover{
	background-color: #f8c471;
}