*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	font-size: 16px;
}

nav{
	text-align: right;
	padding: 4.5%;
}

nav a:visited{
	color: white;
}

nav.endpage a:visited{
	color: black;
}

nav a:hover{
	border-bottom: 1px solid white;
}

nav.endpage a:hover{
	border-bottom: 1px black;
}

h2{
	font-size: 3.5em;
	padding: 5% 0% 2% 8%;
}

h3{
	font-size: 1.2em;
	padding-left: 7%;
}

h4{
	font-weight: bold;
	padding-top: 17.5em;
}

hr{
	width: 3em;
	margin: 1em auto;
}

label{
	color: white;
	padding: 0 32px;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: none;
}

p{
	font-size: 1.25em;
	line-height: 2.5em;
}

img{
	float: right;
}

a{
	font-family: sans-serif;
	text-decoration: none;
}

footer{
	text-transform: uppercase
}

#promotion{
	color: #FFF;
	padding: 1% 5%;
	margin-left: 2em;
	margin-right: 35em;
}

#promise{
	height: 56em;
}

#catch{
	margin-top: 1em;
	font-size: 1.25em;
}

#method{
	background-color: #F5F5F5;
	padding-bottom: 3em;
}

#devices{
	padding-right: 3em;
	width: 64%;
}

#blocks{
	padding-left: 14em;
	padding-right: 10em;
	padding-top: 5em;
}

#een{
	padding: 3% 3% 3% 5%;
	background-color: white;
	margin: 5% 45% 0% 20%;
	line-height: 1.35em;
}

#twee{
	padding: 3% 3% 3% 5%;
	background-color: white;
	margin: 2% 5% 0% 51%;
	line-height: 1.35em;
}

#drie{
	padding: 3% 3% 3% 5%;
	background-color: white;
	margin: -11% 54% 5% 5%;
	line-height: 1.35em;
}

#icons{
	padding: 1%;
}

.logo{
	float: left;
	width: 19em;
	-webkit-filter: invert(100%);
  	filter: invert(100%);
  	padding: 3%;
}

.heroimage{
	background-image: url(../images/coverimage.jpg);
	background-size: cover;
	position: relative;
	height: 38em;
}

.herotext{
	color: white;
}

.navlinks{
	text-align: center;
	font-weight: 900;
	font-size: 1em;
	color: white;
	letter-spacing: 1px;
	width: 3em;
	margin-right: 1em;
	margin-left: 1em;
}

.headtitle{
	padding: 0% 5.5% 1% 8%;
	font-size: 4.5em;
}

.button{
	background-color: orange;
	color: #FFF;
	border-radius: 5px;
	padding: 1.2% 4%;
	font-size: 1.15em;
	font-weight: bold;
  	transition-duration: 0.4s;
  	margin-left: 8em;
  	text-transform: uppercase;
}

.button:hover{
	background-color: #f8c471;
}

.table{
	margin-left: 10em;
	padding-top: 3em;
}

.pointers{
	width: 40em;
	height: 6em;
}

.pointers img{
	width: 1.875em;
	float:left;
	padding-top: 1.5%;
}

.argument{
	font-size: .95em;
	line-height: 2em;
	padding-left:7%;
	padding-top: 1%;
}

.stories{
	font-size: 1.5em;
	font-weight: normal;
	padding-left: 8em;
	color: #989191;
}

.demo {
  list-style-type: none;
  margin: 0;
  padding: 6%;
}

.booktitle{
	padding-bottom: 1em;
}

.books{
	width: 13em;
} 

.grid-item{
  	float: left;
	padding: 1.5em;
	text-align: center;
}

.books img{
	width:100%;
}

.authors{
	line-height: 1.5em;
	font-weight: lighter;
	font-size: 1em;
}

.reviews{
	background-image: url(../images/greybackground.jpg);
	background-size: cover;
	position: relative;
	height: 52em;
	opacity: 0.8;
}

.endpage{
	text-align: center;
	color: black;
}

.credentials{
	padding: 2% 2%;
}

.app-store-icon{
	height: 2.5em;
	margin: 5% 1%;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix{
	overflow: auto;
}

#toggle{
	display: none;
}

@media only screen and (max-width: 1217px){
	#blocks{
		padding-left: 10em;
		padding-right: 10em;
	}

	#promotion{
		margin-right: 29em;
	}
}

@media only screen and (max-width: 1135px){
	#blocks{
		padding-left: 5em;
		padding-right: 7em;
	}

	.grid-item{
		width: 25%;
		height: 29em;
	}

	h4{
		padding-top: 20.5em;
	}

	#promise{
		height: 50em;
	}

	.pointers{
		height: 5em;
	}
}


@media only screen and (max-width: 1036px){
	.heroimage{
		height: 35em;
	}

	nav{
		padding: 5% 3.5% 0% 0%;
	}

	.headtitle{
		padding: 4% 5.5% 1% 8%;
	}

	#promotion{
		margin-right: 22em;
	}

	.button{
		margin-left: 19em;
	}

	.demo{
		padding: 2% 20%;
	}

	.pointers{
		height: 6em;
	}

	#devices{
		padding-right: 10em;
		width: 91%;
	}

	#blocks{
		padding-left: 7em;
		padding-right: 7em;
	}	

	.grid-item{
		width: 25%;
		height: 24em;
	}

	h4{
		padding-top: 1.5em;
	}

	img{
		float: none;
	}

	.books img{
		width: 83%;
	}

	#icons{
		padding-left: 37%;
	}

	.endpage{
		padding: 0%;
	}
}

@media only screen and (max-width: 986px){
	label{
		display: block;
		padding: 5%;
	}

	#toggle:checked + nav{
		display: block;
	}

	nav{
		display: none;
		padding-top: 0%;
	}

	#promotion{
		margin-right: 1em;
		margin-bottom: 1em;
	}

	.button{
		padding: 1.5% 6%;
		margin-left: 18.5em;
	}

	.pointers{
		height: 4em;
	}

	.table{
		margin-bottom: 2em;
	}

	.pointers{
		height: 5em;
	}
}

@media only screen and (max-width: 380px){
	nav{
		padding: 0%;
	}
	
	.navlinks{
		width: 0em;
		margin: 0em;
		padding-top: 1em;
		padding-bottom: 1em;
		display: block;
	}

	.heroimage{
		height: 60em;
	}

	.button{
		padding: 6.5% 6%;
		margin-left: 3.5em;
	}

	h2{
		padding: 11% 0% 2% 10%;
	}

	.table{
		margin-left: 3em;
	}

	.pointers{
		height: 8em;
	}

	.argument{
		padding-right: 53%;
	}

	#promise{
		height: 72em;
	}

	#catch{
		padding-right: 72%;
	}

	.stories{
		padding-left: 2em;
	}

	#devices{
		padding-right: 1em;
	}

	.demo{
		padding: 2% 3%;
	}

	.argument{
		padding-right: 47%;
	}

	#blocks{
		padding-left: 0em;
		padding-right: 0em;
		padding-top: 2em;
	}

	.books img{
		width: 98%;
	}

	.booktitle{
		padding-bottom: 0.25em;	
	}

	hr{
		margin: 0.25em auto;
	}

	.grid-item{
		height: 22em;
	}

	#een{
		margin: 5% 15% 0% 20%;
	}

	#twee{
		margin: 2% 5% 0% 27%;
	}

	#drie{
		margin: 3% 19% 14% 5%;
	}

	#icons{
		padding-left: 18%;
	}

	.app-store-icon{
		height: 2.5em;
		margin: 6% 7% 0% 0%;
	}
}


