*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	font-size: 16px;
}

nav{
	text-align: right;
	padding: 4.5%;
}

nav a:visited{
	color: white;
}

nav a:hover{
	border-bottom: 1px solid white;
}

h2{
	font-size: 3.5em;
	padding: 5% 0% 2% 8%;
}

h3{
	font-size: 1.2em;
	padding-left: 7%;
}

h4{
	font-weight: bold;
	padding-top: 17.5em;
}

hr{
	width: 3em;
	margin: 1em auto;
}

label{
	color: white;
	padding: 0 32px;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: none;
}

p{
	font-size: 1.25em;
	line-height: 2.5em;
}

img{
	float: right;
}

a{
	font-family: sans-serif;
	text-decoration: none;
}

footer{
	text-transform: uppercase
}

#promotion{
	color: #FFF;
	padding: 1% 5%;
	margin-left: 2em;
	margin-right: 35em;
}

#catch{
	margin-top: 1em;
	font-size: 1.25em;
}

#method{
	background-color: #F5F5F5;
	padding-bottom: 3em;
}

#devices{
	padding-right: 3em;
}

#blocks{
	padding-left: 13em;
	padding-right: 10em;
	padding-top: 5em;
}

#een{
	padding: 3% 3% 3% 5%;
	background-color: white;
	margin: 5% 45% 0% 20%;
	line-height: 1.35em;
}

#twee{
	padding: 3% 3% 3% 5%;
	background-color: white;
	margin: 2% 12% -9% 52%;
	line-height: 1.35em;
}

#drie{
	padding: 3% 3% 3% 5%;
	background-color: white;
	margin: 0% 52% 5% 13%;
	line-height: 1.35em;
}

.logo{
	float: left;
	width: 19em;
	-webkit-filter: invert(100%);
  	filter: invert(100%);
  	padding: 3%;
}

.heroimage{
	background-image: url(../images/coverimage.jpg);
	background-size: cover;
	position: relative;
	height: 38em;
}

.herotext{
	color: white;
}

.navlinks{
	text-align: center;
	font-weight: 900;
	font-size: 1em;
	color: white;
	letter-spacing: 1px;
	width: 3em;
	margin-right: 1em;
	margin-left: 1em;
}

.headtitle{
	padding: 0% 5.5% 1% 8%;
	font-size: 4.5em;
}

.button{
	background-color: orange;
	color: #FFF;
	border-radius: 5px;
	padding: 1% 4%;
	font-size: 1.5em;
	font-weight: bold;
  	transition-duration: 0.4s;
  	margin-left: 8em;
}

.buttontwo{
	margin-top: 2em;
	margin-bottom: 4em;
	margin-left: -8.5em;
}

.button:hover{
	background-color: #f8c471;
}

.table{
	margin-left: 13em;
	padding-top: 3em;
}

.pointers{
	width: 40em;
	height: 5em;
}

.pointers img{
	width: 1.875em;
	float:left;
	padding-top: 1.5%;
}

.argument{
	font-size: .95em;
	line-height: 2em;
	padding-left:7%;
	padding-top: 1%;
}

.stories{
	font-size: 1.5em;
	font-weight: normal;
	padding-left: 8em;
	color: #989191;
}

.demo {
  list-style-type: none;
  margin: 0;
  padding: 6%;
}

.buttonthree{
	margin-bottom: 1em;
	margin-left: 4.5em;
}

.books{
	width: 13em;
} 

.grid-item{
  	float: left;
	padding: 1.5em;
	text-align: center;
}

.books img{
	width:100%;
}

.authors{
	line-height: 1.5em;
	font-weight: lighter;
	font-size: 1em;
}

.reviews{
	background-image: url(../images/greybackground.jpg);
	background-size: cover;
	position: relative;
	height: 44em;
	opacity: 0.8;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix{
	overflow: auto;
}

#toggle{
	display: none;
}

@media only screen and (max-width: 1180px){
	#blocks{
		padding-left: 10em;
		padding-right: 10em;
	}

	#promotion{
		margin-right: 29em;
	}
}

@media only screen and (max-width: 1145px){
	#blocks{
		padding-left: 10em;
		padding-right: 10em;
	}

	.grid-item{
		width: 33%;
		height: 31em;
	}

	h4{
		padding-top: 23.5em;
	}

	.pointers{
		height: 7em;
	}
}


@media only screen and (max-width: 1050px){
	#promotion{
		margin-right: 22em;
	}

	#blocks{
		padding-left: 10em;
		padding-right: 10em;
	}	

	.grid-item{
		width: 33%;
		height: 28em;
	}

	h4{
		padding-top: 20.5em;
	}

	.pointers{
		height: 7em;
	}

	#devices{
		padding-left:6em;
	}

	img{
		float: none;
	}

	.demo{
		padding: 2% 20%;
	}
}

@media only screen and (max-width: 800px){
	nav{
		display: none;
	}

	nav a:link{
		display: block;
	}

	#promotion{
		margin-right: 1em;
		margin-bottom: 1em;
	}

	.button{
		padding: 3% 6%;
		margin-left: 4.5em;
	}

	label{
		display: block;
	}

	#toggle:checked + nav{
		display: block;
	}
}




