*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
}

nav{
	text-align: right;
	padding: 60px;
}

nav a:visited{
	color: white;
}

nav a:hover{
	border-bottom: 1px solid white;
}

h2{
	font-size: 3.5em;
	padding: 80px 0px 30px 100px;
}

h3{
	font-size: 1.2em;
	padding-left: 45px;
}

h4{
	font-weight: bold;
	padding-top: 17.5em;
}

hr{
	width: 3em;
	margin: 1em auto;
}

p{
	font-size: 1.25em;
	line-height: 2.5em;
}

img{
	float: right;
}

a{
	font-family: sans-serif;
	text-decoration: none;
}

footer{
	text-transform: uppercase
	background-color: red;
}

#promotion{
	color: #FFF;
	padding: 20px 70px;
	margin-left: 2em;
	margin-right: 35em;
}

#table{
	margin-left: 13em;
	padding-top: 3em;
}

#catch{
	margin-left: 16em;
}

#method{
	background-color: #EBEBEB;
}

#blocks{
	padding-left: 13em;
	padding-right: 10em;
	padding-top: 5em;
}

.logo{
	float: left;
	width: 300px;
	-webkit-filter: invert(100%);
  	filter: invert(100%);
  	padding: 35px;
}

.heroimage{
	background-image: url(../images/coverimage.jpg);
	background-size: cover;
	position: relative;
	height: 38em;
}

.herotext{
	color: white;
}

.navlinks{
	text-align: center;
	font-weight: 900;
	font-size: 1em;
	color: white;
	letter-spacing: 1px;
	width: 3em;
	margin-right: 1em;
	margin-left: 1em;
}

.headtitle{
	padding: 0px 50px 10px 100px;
	font-size: 4.5em;
}

.button{
	background-color: orange;
	color: #FFF;
	border-radius: 5px;
	padding: 15px 40px;
	font-size: 1.5em;
	font-weight: bold;
  	transition-duration: 0.4s;
  	margin-left: 8em;
}

.buttonmargin{
	margin-top: 2em;
	margin-bottom: 4em;
}

.button:hover{
	background-color: #f8c471;
}

.pointers{
	width: 40em;
	height: 80px;
}

.pointers img{
	width: 30px;
	float:left;
	padding-top: 15px;
}

.argument{
	font-size: .95em;
	line-height: 2em;
	padding-left:45px;
	padding-top: 5px;
}

.books{
	width: 13em;
} 

.grid-item{
  	float: left;
	padding: 1.5em;
	height: 400px;
	text-align: center;
}

.books img{
	width:100%;
}

.authors{
	line-height: 1.5em;
	font-weight: lighter;
	font-size: 1em;
}

.stories{
	font-size: 1.5em;
	font-weight: normal;
	padding-left: 10em;
	color: #989191;
}

.devices{
	float: right;
}

.reviews{
	width: 30em;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}