h1 {
	color: #88d0b3;
	background-color: #FFFFFF;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;;

}

body {
	text-align: center;
	background-image: url("images/ebookbeach.jpg")
}

ul {
	text-align: center;
	list-style-type: none;
}

button {
	background-color: #88d0b3;
	color: #FFFFFF;

}