h1 {
	color: #88d0b3;
	background-color: #FFFFFF;
	font-size: 24px;
	font-family: Helvetica
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;;
}

body {
	text-align: center;
	font-family: Helvetica
}

#subheader {
	font-size: 16px; 
	font-weight: 500;
}

hr {
	width: 200px;
}

ul {
	text-align: center;
	font-family: Helvetica
}

button {
	background-color: #88d0b3;
	color: #FFFFFF;
	font-family: Helvetica
	font-size: 24px;
}