h1 {
	color: #88d0b3;
	background-color: #FFFFFF;
	font-size: 24px;
	font-family: Helvetica;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;;

#header{
background:url(../images/headbanner.jpg) no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-0-background-size: cover;
height: 750px;
padding: 20px 0;
}

#subheader {
	font-size: 16px; 
	font-weight: 500;
}

body {
	font-family: Helvetica;
	font-size: 16px;
}

button {
	background-color: #88d0b3;
	color: #FFFFFF;
	font-family: Helvetica;
	font-size: 24px;
}